parameters:
    ignoreErrors:
        -
            message: '/no value type specified in iterable type array/'
            path: %currentWorkingDirectory%/src/*.php
        -
            message: '/.*/'
            path: %currentWorkingDirectory%/src/Constraint/DateTimeConstraint.php
        -
            message: '/PHPDoc tag @var for variable \$parentReflectionClass contains generic class ReflectionClass but does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Mapping/ValidationMappingProviderRegistry.php
